__pycache__/

/*

!/chatbot/
!/oxowlbot/
!/script/
!/vendor/

!/.gitignore

!/README.md
!/LICENSE

!/app.json
!/Procfile

!/manage.py

!/.python-version
!/poetry.lock
!/pyproject.toml
!/oxowlbot.egg-info/

!/python
!/run
