# Python
__pycache__/

## ## Root ## ##
/*

## Root Directories ##

# Django project
!/oxowlbot/
# Django application
!/chatbot/
# OWL ontology files
!/owl/
# Input processing and output generation
!/oxbot/
# Pyright type stubs
!/typings/
#
!/script/
!/vendor/
!/static/

## Root Files ##

# Git
!/.gitignore

# Doc
!/README.md
!/LICENSE

# Heroku
!/app.json
!/Procfile

# Django
!/manage.py

# Poetry and Pyenv
!/.python-version
!/poetry.lock
!/pyproject.toml
!/oxowlbot.egg-info/

# Pyright
!/pyrightconfig.json

# Convenience scripts
!/python
!/run
