<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Oxowlbot, the pony chatbot</title>
  </head>

  <body>
    <h1 id="title"></h1>
    <p><a id="gh-link" href="https://github.com/mathieucaroff/oxowlbot">Github link🔗</a></p>
    <textarea id="chat-log" readonly="true"></textarea><br />
    <input id="chat-message-input" type="text" size="100" value="" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    <style>
      html,
      #chat-log {
        font-family: "Open Sans";
        font-size: 14px;
        cursor: default;
      }
    </style>
    <script>
      document.querySelector("#title").textContent = document.title

      const chatLog = document.querySelector("#chat-log");
      console.log({ chatLog });

      chatLog.style.width = `${window.innerWidth - 100}px`;
      chatLog.style.height = `${window.innerHeight - 260}px`;

      if (!location.href.match(/\?remember\b/)) {
        chatLog.value = "";
      }

      function prefixLine(text, prefix) {
        return prefix + text.replace(/\n(?!\s*$)/g, `\n${prefix}`);
      }

      const { host } = window.location;
      const protocol = location.protocol.replace("http", "ws");
      const chatSocket = new WebSocket(`${protocol}${host}/ws/chatbot/`);

      chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let { text } = data;

        let prefix = "ME  : ";
        if (data.author === "bot") {
          prefix = "BOT: ";

          if (data.info) {
            console[data.status == "ok" ? "info" : "warn"](data.info);
          }
          if (data.status != "ok") {
            text = prefixLine(text, "~ ")
          }
          if (data.warning) {
            text = prefixLine(data.warning, "! ")
          }
        }

        text = prefix + text.replace(/\n(?!$)/g, "\n          ");

        chatLog.value += `${text}\n`;
      };

      chatSocket.onclose = function(e) {
        let message = "Chat socket closed unexpectedly";
        if (location.href.match(/\?reload\b/)) {
          setTimeout(reloadPage, 1000);
          message += ", will reload page in 2s";
        }
        console.error(message);
        document.documentElement.style.backgroundColor = "#F66";
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function(e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function(e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        sendMessage(message);
        messageInputDom.value = "";
      };

      function sendMessage(message) {
        return chatSocket.send(
          JSON.stringify({
            message: message
          })
        );
      }

      if (!location.href.match(/\?no-auto\b/))
        chatSocket.onopen = function() {
          `
            Who are the alicorns?
            Who is a pony?
            Who is a cat?
            Who is a kirin?

            Who is Spike?

            Who likes apples?

            Who is friend with Twilight Sparkle?

            Who is Twilight Sparkle?
            Who is Rarity?
            Who is Fluttershy?
            Who is Rainbow Dash?
            Who is Pinkie Pie?
            Who is Applejack?
            Who is Celestia?
            Who is Luna?

            Who is parent of Shining Armor?
            Who is parent of Flurry Heart?
            Who is parent of parent of Flurry Heart?

            // Who is a alicorn
            // Who is alicorn
            // Who is an alicorn
            // Who is an Alicorn?
            // Who are alicorn

            // Who are Fluttershy's friends?
            // Who are Twilight Sparkle's friends?
            // Who are Flurry Heart's parents?
            // Who are Flurry Heart's ascendents?
            // Who are Twilight Velvet's descendents?
            // Who are Twilight Velvet's children?
            // Who is parent of Flurry Heart?
            // Who is ascendent of Flurry Heart?
            // Who is descendent of Twilight Velvet?
            // Who is child of Twilight Velvet?
            // Who is married with Twilight Velvet?
            // Who is lover of Cadance?
            // Who is in love with an in love with Cadance?
            // Who is married with a married with Cadance?
            // Who is married with a friend of Cadance?
            // Who is friend of a friend of Twilight Sparkle?
            // Who is child of a child of a child of Twilight Velvet?
            `
            .split("\n")
            .map(s => s.trim())
            .filter(x => x && !x.startsWith("//"))
            .forEach(sendMessage);
        };

      function reloadPage() {
        location.reload();
      }
    </script>
  </body>
</html>
