<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Oxowlbot</title>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="40"></textarea><br>
    <input id="chat-message-input" type="text" size="100" value=""><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script>
        document.querySelector('#chat-log').value = ""

        const { host } = window.location
        const protocol = location.protocol.replace('http', 'ws')
        const chatSocket = new WebSocket(
            `${protocol}${host}/ws/chatbot/`
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            if ('info' in data) {
                console.info(data.info)
            }
        };

        chatSocket.onclose = function (e) {
            let message = 'Chat socket closed unexpectedly'
            if (location.href.includes('reload')) {
                setTimeout(reloadPage, 2000)
                message += ', will reload page in 2s'
            }
            console.error(message);
            document.documentElement.style.backgroundColor = "#F66"
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            sendMessage(message);
            messageInputDom.value = '';
        };

        function sendMessage(message) {
            return chatSocket.send(JSON.stringify({
                'message': message
            }))
        }

        chatSocket.onopen = function () {
            `
            // Who is a kirin
            // Who is kirin
            // Who are kirin
            // Who are a kirin

            // Who are Fluttershy's friends?
            // Who are Twilight Sparkle's friends?
            // Who are Flurry Heart's parents?
            // Who are Flurry Heart's ascendents?
            // Who are Twilight Velvet's descendents?
            // Who are Twilight Velvet's children?

            Who is friend with Twilight Sparkle?
            Who is parent of Flurry Heart?
            Who is ascendent of Flurry Heart?
            Who is descendent of Twilight Velvet?
            Who is child of Twilight Velvet?
            Who is married with Twilight Velvet?
            Who is lover of Cadance?
            Who is in love with an in love with Cadance?
            Who is married with a married with Cadance?
            Who is married with a friend of Cadance?
            Who is friend of a friend of Twilight Sparkle?
            Who is child of a child of a child of Twilight Velvet?
            `.split("\n").map(s => s.trim()).filter(x => x && !x.startsWith('//')).forEach(sendMessage)
        }

        function reloadPage() {
            location.reload()
        }
    </script>
</body>

</html>